<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<body>
  <br>
    <div class="container">
       <div class="ligne">
            <div class="rounded">
                <img src="../../assets/user.png" alt="logo ag">
            </div>
        
            <h3 id="nomag">Nom Agence</h3>
            <div class="rang">
                <h2 id="range">10</h2>
                <h2>/10</h2>
            </div>
       </div>
       <div class="indicator"></div>
            <div class="card-container">
                   
                    
                <a class="card" target="_blank" rel="noopener" (click)="gotoannonce()">
                  <img class="card-img-top" src="../../assets/3.jpg" alt="Description of the image" >
                  <div class="card-header">
                    <h4 class-title>TUNISIA</h4>
                  </div>
                  <div class="card-body">date 12/6/2023  20/6/2023</div>
                  <div class="card-footer">prix</div>
                </a>
                <a class="card" target="_blank" rel="noopener" (click)="gotoannonce()">
                    <img class="card-img-top" src="../../assets/DES1.jpg" alt="Description of the image" >
                    <div class="card-header">
                      <h4 class-title>TUNISIA</h4>
                    </div>
                    <div class="card-body">date jj/mm/aaaa  jj/mm/aaaa</div>
                    <div class="card-footer">prix</div>
                  </a>
                <a class="card" target="_blank" rel="noopener" (click)="gotoannonce()">
                  <img class="card-img-top" src="../../assets/DES2.jpg" alt="Description of the image" >
                  <div class="card-header">
                    <h4 class-title>greence</h4>
                  </div>
                  <div class="card-body">date 24/7/2023  24/8/2023</div>
                  <div class="card-footer">prix</div>
                </a>
                <a class="card" target="_blank" rel="noopener" (click)="gotoannonce()">
                  <img class="card-img-top" src="../../assets/background2.jpg" alt="Description of the image" >
                  <div class="card-header">
                    <h4 class-title>Turkey</h4>
                  </div>
                  <div class="card-body">date 01/10/2023  30/10/2023</div>
                  <div class="card-footer">prix</div>
                </a>

                
               
              </div>
              <div class="ligne">
                <div class="contact">
                    <div class="ligne">
                        <span class="icon"><svg  height="33px" width="33px" xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path class="st0" d="M349.33 69.33a93.62 93.62 0 0193.34 93.34v186.66a93.62 93.62 0 01-93.34 93.34H162.67a93.62 93.62 0 01-93.34-93.34V162.67a93.62 93.62 0 0193.34-93.34h186.66m0-37.33H162.67C90.8 32 32 90.8 32 162.67v186.66C32 421.2 90.8 480 162.67 480h186.66C421.2 480 480 421.2 480 349.33V162.67C480 90.8 421.2 32 349.33 32z"/><path  class="st0" d="M377.33 162.67a28 28 0 1128-28 27.94 27.94 0 01-28 28zM256 181.33A74.67 74.67 0 11181.33 256 74.75 74.75 0 01256 181.33m0-37.33a112 112 0 10112 112 112 112 0 00-112-112z"/></svg></span>
                        <a href="#"> compte insta</a>
                    </div>
                    <div class="ligne">
                        <span class="icon"><svg height="33px" width="33px" xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path class="st0" d="M480 257.35c0-123.7-100.3-224-224-224s-224 100.3-224 224c0 111.8 81.9 204.47 189 221.29V322.12h-56.89v-64.77H221V208c0-56.13 33.45-87.16 84.61-87.16 24.51 0 50.15 4.38 50.15 4.38v55.13H327.5c-27.81 0-36.51 17.26-36.51 35v42h62.12l-9.92 64.77H291v156.54c107.1-16.81 189-109.48 189-221.31z" fill-rule="evenodd"/></svg></span>
                        <a href="#"> compte facebook</a>
                    </div>
                    <div class="ligne">
                        <span><svg class="icon" width="33" height="33" viewBox="0 0 24 24" >
                            <path class="st0" d="M3 10v11h6v-7h6v7h6v-11L12,3z"/>
                          </svg></span>
                        <a>ADD: addresse de l'agence
                        </a>
                    </div>
                </div>
                <div class="commentaires">
                    <h4>les commentaires </h4>
                    <div class="scroll-bar">
                        <div class="com">
                            <p>com1</p>
                        </div>
                        <div class="com">
                            <p>com2</p>
                        </div>
                        <div class="com">
                            <p>com3</p>
                        </div>
                        <div class="com">
                            <p>com4</p>
                        </div>
                    </div>
                    <form>
                          <div class="input-group mt-2">
                            <input type="text" class="form-control texte" placeholder="Partagez Avec Nous Votre Avis">
                            <button class="btn" type="button">Envoyer</button>
                        </div>
                    </form>
                </div>
    
               </div>
   </div>
           
  <BR>
</body>