
body {
    background-color: #BFBAE4;
    background-size:cover ;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    transition: background-color 0.8s ease;}
.container{
    align-content: center;
    background-color: #E3DFFD;
    border-radius: 40px;
    box-shadow: 0 0 10px #15024C;
    width: 1000px;
    height: 625px;}
.container.h1{
    text-align:center ;
    color: #45396B;
    font-style: bold; }
form {
    display: flex;
    flex-direction: column;}
  label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    margin-top: 10px;}
.hd {
    background-color:#A090D4;
      border-radius: 24px;
      border: none;
      color: #12075c;
      cursor: pointer;
      font-size: 20px;
      padding: 7px;
      width: 150px;
      transition: background-color 0.5s ease;
      translate: 25%; }
      .hd:hover {
    background-color: #1e135a;
    color: #12092d;}
label
{color: #A090D4;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;}
input[type="text"],
input[type="date"]{
    background-color:#7d9aa850;
    color: #12092d;
    border-radius: 15px;}
input[type="text"]:hover,
input[type="date"]:hover{
background-color:#7788dc72;}
h1 {
   color: #45396B;
    font-style: bold;
    font-size: 45px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
span{
    background-color:#7d9aa81a;
    border-radius: 15px;}
  .input-group-text{
    background-color: #7d9aa850;
    border-radius: 15px;}
 .icon1 {
 position: relative;
    display: block;
    line-height: 80px;
    font-size: 2em;
    text-align: center;
    transition: 0.5s;
    color: rgb(35, 33, 35);
    translate: -20px;}
  .card1.icon1 {
    fill: #888;}
 .round{
 background:transparent;
    width: 65px;
    height: 65px;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    align-items: center;
  transform: translate(30px);}
  .round input[type = "file"]{
    position: absolute;
    transform: scale(2);
    opacity: 0;}
  input[type=file]::-webkit-file-upload-button{
      cursor: pointer;}
  .round:hover
  { box-shadow: 0 0 20px rgba(0, 0, 0, 0.401);}